{{ define "social-media-meta" }}
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:image" content="{{ "/media/authors/" | absURL }}{{ .Params.cover }}" />
{{ end }}

{{ define "header" }}
<p>{{ len .Pages }} article{{ if ne (len .Pages) 1 }}s{{ end }} <i class="inhabitu-quill-pen icon"></i>
    written by</p>
<p class="title is-1">{{ .Title }}</p>
{{ end }}

{{ define "main" }}
<section class="section">
    <div class="content container">
        <span class="heading">About the author</span>
        <div class="inhabitu-overflow-bottom">
            <div class="card">
                {{ with .Params.cover }}
                <div class="card-image">
                    <img class="image" src="{{ $.Site.Params.cloudinaryURL }}ar_32:9,c_fill,g_auto,q_auto,w_740/{{ . }}">
                </div>
                {{ end }}
                <div class="card-content">
                    <div class="media">
                        {{ with .Params.image }}
                        <img class="media-left image is-64x64 inhabitu-author"
                            src="{{ $.Site.Params.cloudinaryURL }}c_thumb,dpr_auto,g_face,h_64,q_auto,w_64/{{ . }}">
                        {{ end }}
                        <div class="media-content">
                            <strong>{{ .Title }}</strong>
                            {{ with .Description }}<p>{{ . }}</p>{{ end }}
                            {{ with .Params.location }}<p class="is-size-7"><i class="inhabitu-pin icon"></i>{{ . }}</p>
                            {{ end }}
                        </div>
                    </div>
                </div>
                {{ if or .Params.linkedin .Params.twitter .Params.github }}
                <footer class="card-footer">
                    {{ with .Params.linkedin }}<a class="card-footer-item" href="https://linkedin.com/in/{{ . }}"><i
                            class="inhabitu-linkedin icon"></i></a>{{ end }}
                    {{ with .Params.twitter }}<a class="card-footer-item" href="https://twitter.com/{{ . }}"><i
                            class="inhabitu-twitter icon"></i></a>{{ end }}
                    {{ with .Params.github }}<a class="card-footer-item" href="https://github.com/{{ . }}"><i
                            class="inhabitu-github icon"></i></a>{{ end }}
                </footer>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="content container">
        {{ range $index, $page := .Paginator.Pages }}
        {{ if gt $index 0 }}
        <hr>
        {{ end }}
        {{ partial "article-index" . }}
        {{ end }}
    </div>
</section>
<section class="inhabitu-emphasize section">
    <div class="content container">
        {{ partial "pagination" . }}
    </div>
</section>
{{ end }}