{{ define "social-media-meta" }}
<meta property="og:description" content="{{ .Summary }}" />
<meta property="og:image" content="{{ "/media/tags/" | absURL }}{{ .Params.cover }}" />
{{ end }}

{{ define "header" }}
<p>{{ len .Pages }} article{{ if ne (len .Pages) 1 }}s{{ end }} <i class="inhabitu-tags icon"></i> tagged with
</p>
<p class="title is-1">{{ .Title }}</p>
{{ end }}

{{ define "main" }}
<section class="section">
    <div class="content container">
        <span class="heading">About the tag</span>
        <div class="inhabitu-overflow-bottom">
            <div class="card">
                <div class="card-image">
                    <img class="image" src="{{ "media/tags/" | relURL }}{{ .Params.cover }}">
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <strong>{{ .Title }}</strong>
                            <p>{{ .Summary }}</p>
                            {{ if .Params.coverAttribution }}<p class="is-size-7 has-text-right">Image:
                                <a href="{{ .Params.coverAttributionURL }}">{{ .Params.coverAttribution }}</a></p>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ range $index, $page := .Paginator.Pages }}
        {{ if gt $index 0 }}
        <hr>
        {{ end }}
        {{ partial "article-index" . }}
        {{ end }}
    </div>
</section>
<section class="inhabitu-emphasize section">
    <div class="content container">
        {{ partial "pagination" . }}
    </div>
</section>
{{ end }}