<div class="level is-tablet">
    <div class="level-left">
        <div class="media level-item">
            {{ $taxo := "Authors" }}
            {{ range .Param $taxo }}
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
            {{ with .Params.image }}
            <div class="media-left image is-32x32">
                <img class="inhabitu-author"
                    src="{{ $.Site.Params.cloudinaryURL }}c_thumb,dpr_2,g_face,h_32,q_auto,w_32/{{ . }}">
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
            <small class="media-content">
                {{ range $index, $name := .Param $taxo }}{{- if gt $index 0 }}/{{ end -}}{{- with $.Site.GetPage (printf "/%s/%s" $taxo ($name | urlize)) }}
                <strong><a href="{{ .Permalink | relURL }}">{{ $name }}</a></strong>
                {{ end -}}{{ end }}
                <time class="heading"
                    datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </small>
        </div>
    </div>
    {{ with .Params.Tags }}
    <div class="level-right">
        {{ range . }}
        <a class="level-item tag is-rounded" href="{{ "tags/" | relURL }}{{ . | urlize }}"><span class="icon"><i
                    class="inhabitu-tag"></i></span> {{ . | title }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>