<div class="level is-mobile">
    <div class="level-left">
        {{ if .Params.authors }}
        <div class="media level-item">
            <div class="media-left image is-32x32">
                <img class="inhabitu-author" src="{{ "media/authors/" | relURL }}{{ (index .Site.Data.authors .Params.authors).image }}">
            </div>
            <small class="media-content">
                <strong><a href="{{ "authors/" | relURL }}{{ .Params.authors | urlize }}">{{ .Params.authors }}</a></strong>
                <time class="heading" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            </small>
        </div>
        {{ else }}
        <div class="level-item">
            <time class="heading level-item" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
        </div>
        {{ end }}
    </div>
    {{ with .Params.Tags }}
    <div class="level-right">
        {{ range . }}
        <a class="level-item tag is-rounded" href="{{ "tags/" | relURL }}{{ . | urlize }}"><span class="icon"><i class="inhabitu-tag"></i></span>{{ . }}</a>
        {{ end }}
    </div>
    {{ end }}
</div>