{{ define "header" }}
<p>{{ len .Data.Pages }} published</p>
<p class="title is-1">Articles</p>
{{ end }}

{{ define "main" }}
{{ $paginator := .Paginate (where .Data.Pages "Section" "articles") }}
<section class="section">
    <div class="content container">
        {{ if $paginator.Pages }}
        {{ range $index, $page := $paginator.Pages }}
        {{ if gt $index 0 }}
        <hr>
        {{ end }}
        {{ partial "article-index" . }}
        {{ end }}
        {{ else }}
        {{ partial "message-info" "No articles have been published yet." }}
        {{ end }}
    </div>
</section>
<section class="inhabitu-emphasize section">
    <div class="content container">
        {{ partial "pagination" . }}
    </div>
</section>
{{ end }}