{{ define "social-media-meta" }}
{{ with .Params.description }}<meta property="og:description" content="{{ . }}" />{{ end }}
{{ with .Params.cover }}<meta property="og:image" content="{{ "/media/" | absURL }}{{ . }}" />{{ end }}
{{ end }}

{{ define "header" }}
<h1 class="title is-1">{{ .Title }}</h1>
{{ end }}

{{ define "main" }}
<section class="section">
    <div class="content container">
        {{ partial "article" . }}
    </div>
</section>
{{ partial "article-share" . }}
{{ if or .NextInSection .PrevInSection }}
<section class="section">
    <div class="content container">
        {{ with .NextInSection }}
        <span class="heading">Next article</span>
        {{ partial "article-index" . }}
        {{ end }}
        {{ if and .NextInSection .PrevInSection }}
        <hr>
        {{ end }}
        {{ with .PrevInSection }}
        <span class="heading">Previous article</span>
        {{ partial "article-index" . }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}