{{ define "social-media-meta" }}
{{ with .Summary }}
<meta property="og:description" content="{{ . }}" />
{{ end }}
{{ with .Params.cover }}
<meta property="og:image" content="{{ if findRE "http" . }}{{ . }}{{ else }}{{ "/media/" | absURL }}{{ . }}{{ end }}" />
{{ end }}
{{ end }}

{{ define "header" }}
<h1 class="title is-1">{{ title .Title }}</h1>
{{ end }}

{{ define "main" }}
<section class="section">
    <div class="content container">
        {{ partial "article" . }}
    </div>
</section>
{{ partial "article-share" . }}
{{ $related := .Site.RegularPages.Related . | first 2 }}
{{ if $related }}
<section class="section">
    <div class="content container">
        {{ range $index, $article := $related }}
        {{ if gt $index 0 }}
        <hr>
        {{ end }}
        <span class="heading">Recommended article</span>
        {{ partial "article-index.html" . }}
        {{ end }}
    </div>
</section>
{{ end }}
{{ end }}